<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="<%= 'active' if current_page? (pils_path)or current_page? (root_path)  %>"><a href=<%=pils_path %>>Список заявок</a></li>

</ul>