<% if params[:step] == "delivery" %>
  <h2>Укажите способ доставки</h2>
<%else %>
<h2>Заявка на продукт</h2>
  <% end %>

<%= render 'form', pil: @pil %>

<!--<%#= link_to 'Просмотр', @pil , {:class => "btn btn btn-secondary"}%> |-->
<h3></h3>
<%= link_to 'Вернутся на главную', pils_path , {:class => "btn btn-info"}%>
